@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .max-h-600 {
    height: 600px;
  }

  #__next,
  body,
  html {
    /* overflow: hidden; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  body {
    overflow: hidden;
  }

  /* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  } */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.popover-hover {
  display: none;
}

.popover-trigger:hover .popover-hover {
  display: block;
}

[data-tooltip] {
  @apply font-semibold text-black before:invisible before:absolute
    before:z-[101]
    before:flex before:max-w-lg before:justify-center before:whitespace-nowrap
    before:rounded before:bg-white before:px-1.5 before:py-1 before:text-sm
    before:opacity-0 before:transition 
    before:duration-200 before:ease-in-out before:content-[attr(data-tooltip)];

  &[data-delay] {
    @apply before:delay-200;
  }

  &:not([data-trigger='click']) {
    @apply hover:before:visible hover:before:opacity-100;
  }

  &[data-trigger='click'] {
    @apply focus:before:visible focus:before:opacity-100;
  }

  &[data-arrow] {
    @apply after:invisible after:absolute after:z-10
      after:border-[6px] after:border-transparent
      after:opacity-0 after:transition after:duration-200
      after:ease-in-out after:content-[''];

    &[data-delay] {
      @apply after:delay-200;
    }

    &:not([data-trigger='click']) {
      @apply hover:after:visible hover:after:opacity-100;
    }

    &[data-trigger='click'] {
      @apply focus:after:visible focus:after:opacity-100;
    }
  }

  &:not([data-position='bottom']):not([data-position='right']):not([data-position='left']) {
    @apply before:left-1/2 before:bottom-full before:mb-2 before:-translate-x-[50%];

    &[data-arrow] {
      @apply after:left-1/2 after:bottom-full after:-mb-0.5 after:-translate-x-[50%] after:border-t-white;
    }
  }

  &[data-position='bottom'] {
    @apply before:left-1/2 before:top-full before:mt-2 before:-translate-x-[50%];

    &[data-arrow] {
      @apply after:left-1/2 after:top-full after:-mt-0.5 after:-translate-x-[50%] after:border-b-white;
    }
  }

  &[data-position='right'] {
    @apply before:top-1/2 before:left-full before:ml-2 before:-translate-y-[50%];

    &[data-arrow] {
      @apply after:top-1/2 after:left-full after:-ml-0.5 after:-translate-y-[50%] after:border-r-white;
    }
  }

  &[data-position='left'] {
    @apply before:top-1/2 before:right-full before:mr-2 before:-translate-y-[50%];

    &[data-arrow] {
      @apply after:top-1/2 after:right-full after:-mr-0.5 after:-translate-y-[50%] after:border-l-white;
    }
  }
}

.vjs-matrix .video-js {
  /* color: #00ff00; */
  font-size: 0.8rem;
}

.vjs-matrix .vjs-big-play-button {
  border-color: #00ff00;
}

.vjs-matrix .vjs-volume-level,
.vjs-matrix .vjs-play-progress,
.vjs-matrix .vjs-slider-bar {
  background: #00ff00;
}

.vjs-seek-to-live-control.vjs-control.vjs-at-live-edge .vjs-icon-placeholder {
  color: var(--theme-color-components-video-live-indicator) !important;
}

.vjs-control-bar {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) !important;
  transition: opacity 0.1s ease-in-out !important; /* Adjust the fade-in speed here */
}

.vjs-user-inactive .vjs-control-bar {
  opacity: 0 !important;
  transition: opacity 0.1s ease-in-out !important; /* Adjust the fade-out speed here */
}

.video-js .vjs-menu {
  width: 15em;
  left: -5em;
  color: #ffaa00;
}
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: red;
  width: 15em;
}

.vjs-menu-button-popup .vjs-menu {
  width: 15em;
  left: -5em;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* .vjs-custom-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.vjs-custom-modal-container > div {
  pointer-events: auto;
} */
