/* Change all text and icon colors in the player. */
.vjs-matrix .video-js {
  color: #00ff00;
}

/* Change the border of the big play button. */
.vjs-matrix .vjs-big-play-button {
  border-color: #00ff00;
}

/* Change the color of various "bars". */
.vjs-matrix .vjs-volume-level,
.vjs-matrix .vjs-play-progress,
.vjs-matrix .vjs-slider-bar {
  background: #00ff00;
}

.vjs-seek-to-live-control.vjs-control.vjs-at-live-edge .vjs-icon-placeholder {
  color: var(--theme-color-components-video-live-indicator) !important;
}

.vjs-menu-button-popup .vjs-menu {
  width: '15em';
  left: '-5em';
}

.vjs-menu {
  width: '15em';
  left: '-5em';
}
